CF.VRent.Entities/Service References/AccountingService/AccountingService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common" />
  <xs:complexType name="ArrayOfBookingCompact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingCompact" nillable="true" type="tns:BookingCompact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingCompact" nillable="true" type="tns:ArrayOfBookingCompact" />
  <xs:complexType name="BookingCompact">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="KemasBookingID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingCompact" nillable="true" type="tns:BookingCompact" />
  <xs:complexType name="ArrayOfDebitNotePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebitNotePeriod" nillable="true" type="tns:DebitNotePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebitNotePeriod" nillable="true" type="tns:ArrayOfDebitNotePeriod" />
  <xs:complexType name="DebitNotePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="tns:SyncedRecordState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitNotePeriod" nillable="true" type="tns:DebitNotePeriod" />
  <xs:simpleType name="SyncedRecordState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnKnown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotRun">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Preview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Final">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Closed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SyncedRecordState" nillable="true" type="tns:SyncedRecordState" />
  <xs:complexType name="DebitNotesSearchConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="tns:ArrayOfDebitNote" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QueryTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:PaymentState" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitNotesSearchConditions" nillable="true" type="tns:DebitNotesSearchConditions" />
  <xs:complexType name="ArrayOfDebitNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebitNote" nillable="true" type="tns:DebitNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebitNote" nillable="true" type="tns:ArrayOfDebitNote" />
  <xs:complexType name="DebitNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientID" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentStatus" type="tns:PaymentState" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodID" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodStartDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.Common" minOccurs="0" name="State" type="q1:CommonState" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitNote" nillable="true" type="tns:DebitNote" />
  <xs:simpleType name="PaymentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Due">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OverDue">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paid">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentState" nillable="true" type="tns:PaymentState" />
  <xs:complexType name="DebitNoteDetailSearchConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DebitNoteID" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDebitNoteDetail" />
      <xs:element minOccurs="0" name="ItemsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="KemasBookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPage" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitNoteDetailSearchConditions" nillable="true" type="tns:DebitNoteDetailSearchConditions" />
  <xs:complexType name="ArrayOfDebitNoteDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebitNoteDetail" nillable="true" type="tns:DebitNoteDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebitNoteDetail" nillable="true" type="tns:ArrayOfDebitNoteDetail" />
  <xs:complexType name="DebitNoteDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" type="ser:guid" />
      <xs:element minOccurs="0" name="DebitNoteID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KemasBookingID" type="ser:guid" />
      <xs:element minOccurs="0" name="KemasBookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentStatus" type="tns:PaymentState" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitNoteDetail" nillable="true" type="tns:DebitNoteDetail" />
  <xs:complexType name="StagedBookings">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfCompletedBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StagedBookings" nillable="true" type="tns:StagedBookings" />
  <xs:complexType name="ArrayOfCompletedBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompletedBooking" nillable="true" type="tns:CompletedBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompletedBooking" nillable="true" type="tns:ArrayOfCompletedBooking" />
  <xs:complexType name="CompletedBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingOption" type="xs:int" />
      <xs:element minOccurs="0" name="BookingID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CarID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompareResult" type="tns:MatchState" />
      <xs:element minOccurs="0" name="CorporateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorporateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DateBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KemasBookingID" type="ser:guid" />
      <xs:element minOccurs="0" name="KemasBookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyIn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KeyOut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PickupEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PricingDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartLocationID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="StartLocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncState" type="tns:StagingState" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletedBooking" nillable="true" type="tns:CompletedBooking" />
  <xs:simpleType name="MatchState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="NoDifference" />
      <xs:enumeration value="Missing" />
      <xs:enumeration value="StateMisMatch" />
      <xs:enumeration value="IDMismatch" />
      <xs:enumeration value="MinorFieldsMisMatch" />
      <xs:enumeration value="PriceMisMatch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchState" nillable="true" type="tns:MatchState" />
  <xs:simpleType name="StagingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Merged" />
      <xs:enumeration value="Discarded" />
      <xs:enumeration value="Archived" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StagingState" nillable="true" type="tns:StagingState" />
  <xs:complexType name="DUBDetailSearchConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDUBDetail" />
      <xs:element minOccurs="0" name="ItemsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="KemasBookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element minOccurs="0" name="UPState" nillable="true" type="tns:UPProcessingState" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DUBDetailSearchConditions" nillable="true" type="tns:DUBDetailSearchConditions" />
  <xs:complexType name="ArrayOfDUBDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DUBDetail" nillable="true" type="tns:DUBDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDUBDetail" nillable="true" type="tns:ArrayOfDUBDetail" />
  <xs:complexType name="DUBDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KemasBookingID" type="ser:guid" />
      <xs:element minOccurs="0" name="KemasBookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPstate" nillable="true" type="tns:UPProcessingState" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DUBDetail" nillable="true" type="tns:DUBDetail" />
  <xs:simpleType name="UPProcessingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Processing" />
      <xs:enumeration value="PreAuthSuccess" />
      <xs:enumeration value="PreAuthFail" />
      <xs:enumeration value="PreAuthCancelSuccess" />
      <xs:enumeration value="PreAuthCancelFail" />
      <xs:enumeration value="FeeDeductionSuccess" />
      <xs:enumeration value="FeeDeductionFail" />
      <xs:enumeration value="NoFee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UPProcessingState" nillable="true" type="tns:UPProcessingState" />
</xs:schema>