CF.VRent.Entities/Service References/AccountingService/AccountingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" />
  <xs:complexType name="ProxyUserSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllRoles" nillable="true" type="tns:ArrayOfProxyRole" />
      <xs:element minOccurs="0" name="AllowChangePwd" type="xs:int" />
      <xs:element minOccurs="0" name="Blocked" type="xs:int" />
      <xs:element minOccurs="0" name="ChangePwd" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrivateUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VrentRoles" nillable="true" type="tns:ArrayOfProxyRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyUserSetting" nillable="true" type="tns:ProxyUserSetting" />
  <xs:complexType name="ArrayOfProxyRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyRole" nillable="true" type="tns:ProxyRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyRole" nillable="true" type="tns:ArrayOfProxyRole" />
  <xs:complexType name="ProxyRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" base="q1:DBEntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleMember" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProxyRole" nillable="true" type="tns:ProxyRole" />
</xs:schema>