CF.VRent.Entities/Service References/AccountingService/AccountingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CommonState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommonState" nillable="true" type="tns:CommonState" />
  <xs:complexType name="ArrayOfPricingItemMonthlysummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingItemMonthlysummary" nillable="true" type="tns:PricingItemMonthlysummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingItemMonthlysummary" nillable="true" type="tns:ArrayOfPricingItemMonthlysummary" />
  <xs:complexType name="PricingItemMonthlysummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitNoteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kemasBookingID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kemasBookingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingItemMonthlysummary" nillable="true" type="tns:PricingItemMonthlysummary" />
</xs:schema>