CF.VRent.Entities/Service References/AccountingService/AccountingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" />
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" />
  <xs:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common" />
  <xs:element name="RetrieveID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="input" nillable="true" type="q1:ArrayOfBookingCompact" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q2:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveIDResult" nillable="true" type="q3:ArrayOfBookingCompact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q4:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrievePeriodsResult" nillable="true" type="q5:ArrayOfDebitNotePeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePeriodsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="state" type="q6:SyncedRecordState" />
        <xs:element minOccurs="0" name="debitMonth" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q7:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePeriodsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrievePeriodsByStateResult" nillable="true" type="q8:ArrayOfDebitNotePeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCompletedPeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q9:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCompletedPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveCompletedPeriodsResult" nillable="true" type="q10:ArrayOfDebitNotePeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearUpTempDataByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="dnp" nillable="true" type="q11:DebitNotePeriod" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q12:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearUpTempDataByPeriodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneateDebitNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="dnp" nillable="true" type="q13:DebitNotePeriod" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q14:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneateDebitNotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNotesWithPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="conditions" nillable="true" type="q15:DebitNotesSearchConditions" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q16:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNotesWithPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveDebitNotesWithPagingResult" nillable="true" type="q17:DebitNotesSearchConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNoteDetailsInRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="conditions" nillable="true" type="q18:DebitNoteDetailSearchConditions" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="userInfo" nillable="true" type="q19:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNoteDetailsInRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveDebitNoteDetailsInRangeResult" nillable="true" type="q20:DebitNoteDetailSearchConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNotesByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debitNoteID" type="xs:int" />
        <xs:element minOccurs="0" name="queryTime" type="xs:dateTime" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q21:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNotesByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveDebitNotesByIDResult" nillable="true" type="q22:DebitNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebitNotesByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="note" nillable="true" type="q23:DebitNote" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="operatorInfo" nillable="true" type="q24:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebitNotesByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="UpdateDebitNotesByIDResult" nillable="true" type="q25:DebitNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIntoStagingAre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="conditions" nillable="true" type="q26:StagedBookings" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="userInfo" nillable="true" type="q27:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIntoStagingAreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDUBDetailsByConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="conditions" nillable="true" type="q28:DUBDetailSearchConditions" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="userInfo" nillable="true" type="q29:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDUBDetailsByConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="RetrieveDUBDetailsByConditionsResult" nillable="true" type="q30:DUBDetailSearchConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNoteMonthlySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="notes" nillable="true" type="q31:ArrayOfDebitNote" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" minOccurs="0" name="userInfo" nillable="true" type="q32:ProxyUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDebitNoteMonthlySummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CF.VRent.Common" minOccurs="0" name="RetrieveDebitNoteMonthlySummaryResult" nillable="true" type="q33:ArrayOfPricingItemMonthlysummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>