CF.VRent.Entities/Service References/AccountingService/AccountingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.UserContracts" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8011/AccountingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountingService_RetrieveID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveID" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveID_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q1:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriods_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriods" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriods_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriods_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q2:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriodsByState_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriodsByState" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriodsByState_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePeriodsByStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrievePeriodsByState_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q3:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveCompletedPeriods_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompletedPeriods" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveCompletedPeriods_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompletedPeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveCompletedPeriods_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q4:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_ClearUpTempDataByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearUpTempDataByPeriod" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_ClearUpTempDataByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearUpTempDataByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_ClearUpTempDataByPeriod_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q5:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_GeneateDebitNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneateDebitNotes" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_GeneateDebitNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneateDebitNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_GeneateDebitNotes_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q6:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesWithPaging_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNotesWithPaging" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesWithPaging_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNotesWithPagingResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesWithPaging_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q7:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteDetailsInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNoteDetailsInRange" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteDetailsInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNoteDetailsInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteDetailsInRange_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q8:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesByID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNotesByID" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNotesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNotesByID_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q9:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_UpdateDebitNotesByID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDebitNotesByID" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_UpdateDebitNotesByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDebitNotesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_UpdateDebitNotesByID_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q10:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_SaveIntoStagingAre_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIntoStagingAre" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_SaveIntoStagingAre_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveIntoStagingAreResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_SaveIntoStagingAre_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q11:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDUBDetailsByConditions_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDUBDetailsByConditions" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDUBDetailsByConditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDUBDetailsByConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDUBDetailsByConditions_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q12:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteMonthlySummary_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNoteMonthlySummary" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteMonthlySummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDebitNoteMonthlySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingService_RetrieveDebitNoteMonthlySummary_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q13:ReturnResult" />
  </wsdl:message>
  <wsdl:portType name="IAccountingService">
    <wsdl:operation name="RetrieveID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveID" message="tns:IAccountingService_RetrieveID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveIDResponse" message="tns:IAccountingService_RetrieveID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveIDReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveID_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriods">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriods" message="tns:IAccountingService_RetrievePeriods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriodsResponse" message="tns:IAccountingService_RetrievePeriods_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriodsReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrievePeriods_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriodsByState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriodsByState" message="tns:IAccountingService_RetrievePeriodsByState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriodsByStateResponse" message="tns:IAccountingService_RetrievePeriodsByState_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrievePeriodsByStateReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrievePeriodsByState_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompletedPeriods">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveCompletedPeriods" message="tns:IAccountingService_RetrieveCompletedPeriods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveCompletedPeriodsResponse" message="tns:IAccountingService_RetrieveCompletedPeriods_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveCompletedPeriodsReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveCompletedPeriods_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearUpTempDataByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/ClearUpTempDataByPeriod" message="tns:IAccountingService_ClearUpTempDataByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/ClearUpTempDataByPeriodResponse" message="tns:IAccountingService_ClearUpTempDataByPeriod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/ClearUpTempDataByPeriodReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_ClearUpTempDataByPeriod_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneateDebitNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/GeneateDebitNotes" message="tns:IAccountingService_GeneateDebitNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/GeneateDebitNotesResponse" message="tns:IAccountingService_GeneateDebitNotes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/GeneateDebitNotesReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_GeneateDebitNotes_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNotesWithPaging">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesWithPaging" message="tns:IAccountingService_RetrieveDebitNotesWithPaging_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesWithPagingResponse" message="tns:IAccountingService_RetrieveDebitNotesWithPaging_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesWithPagingReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveDebitNotesWithPaging_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNoteDetailsInRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteDetailsInRange" message="tns:IAccountingService_RetrieveDebitNoteDetailsInRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteDetailsInRangeResponse" message="tns:IAccountingService_RetrieveDebitNoteDetailsInRange_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteDetailsInRangeReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveDebitNoteDetailsInRange_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNotesByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesByID" message="tns:IAccountingService_RetrieveDebitNotesByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesByIDResponse" message="tns:IAccountingService_RetrieveDebitNotesByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNotesByIDReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveDebitNotesByID_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDebitNotesByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/UpdateDebitNotesByID" message="tns:IAccountingService_UpdateDebitNotesByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/UpdateDebitNotesByIDResponse" message="tns:IAccountingService_UpdateDebitNotesByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/UpdateDebitNotesByIDReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_UpdateDebitNotesByID_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIntoStagingAre">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/SaveIntoStagingAre" message="tns:IAccountingService_SaveIntoStagingAre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/SaveIntoStagingAreResponse" message="tns:IAccountingService_SaveIntoStagingAre_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/SaveIntoStagingAreReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_SaveIntoStagingAre_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDUBDetailsByConditions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDUBDetailsByConditions" message="tns:IAccountingService_RetrieveDUBDetailsByConditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDUBDetailsByConditionsResponse" message="tns:IAccountingService_RetrieveDUBDetailsByConditions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDUBDetailsByConditionsReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveDUBDetailsByConditions_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNoteMonthlySummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteMonthlySummary" message="tns:IAccountingService_RetrieveDebitNoteMonthlySummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteMonthlySummaryResponse" message="tns:IAccountingService_RetrieveDebitNoteMonthlySummary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingService/RetrieveDebitNoteMonthlySummaryReturnResultFault" name="ReturnResultFault" message="tns:IAccountingService_RetrieveDebitNoteMonthlySummary_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountingService" type="tns:IAccountingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveID">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriods">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrievePeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrievePeriodsByState">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrievePeriodsByState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompletedPeriods">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveCompletedPeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClearUpTempDataByPeriod">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/ClearUpTempDataByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeneateDebitNotes">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/GeneateDebitNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNotesWithPaging">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveDebitNotesWithPaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNoteDetailsInRange">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveDebitNoteDetailsInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNotesByID">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveDebitNotesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDebitNotesByID">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/UpdateDebitNotesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveIntoStagingAre">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/SaveIntoStagingAre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDUBDetailsByConditions">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveDUBDetailsByConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDebitNoteMonthlySummary">
      <soap:operation soapAction="http://tempuri.org/IAccountingService/RetrieveDebitNoteMonthlySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingService">
    <wsdl:port name="BasicHttpBinding_IAccountingService" binding="tns:BasicHttpBinding_IAccountingService">
      <soap:address location="http://localhost:8011/AccountingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>