CF.VRent.Entities/Service References/TermsConditionService/TermsConditionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TermsConditionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity.Aggregation" />
      <xsd:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITermsConditionService_GetLatestTC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTC" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_GetLatestTC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTCResponse" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_GetLatestTC_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q1:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AddOrUpdateTC_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateTC" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AddOrUpdateTC_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateTCResponse" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AddOrUpdateTC_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q2:ReturnResult" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AcceptTC_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptTC" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AcceptTC_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptTCResponse" />
  </wsdl:message>
  <wsdl:message name="ITermsConditionService_AcceptTC_ReturnResultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" name="detail" element="q3:ReturnResult" />
  </wsdl:message>
  <wsdl:portType name="ITermsConditionService">
    <wsdl:operation name="GetLatestTC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITermsConditionService/GetLatestTC" message="tns:ITermsConditionService_GetLatestTC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITermsConditionService/GetLatestTCResponse" message="tns:ITermsConditionService_GetLatestTC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITermsConditionService/GetLatestTCReturnResultFault" name="ReturnResultFault" message="tns:ITermsConditionService_GetLatestTC_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITermsConditionService/AddOrUpdateTC" message="tns:ITermsConditionService_AddOrUpdateTC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITermsConditionService/AddOrUpdateTCResponse" message="tns:ITermsConditionService_AddOrUpdateTC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITermsConditionService/AddOrUpdateTCReturnResultFault" name="ReturnResultFault" message="tns:ITermsConditionService_AddOrUpdateTC_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptTC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITermsConditionService/AcceptTC" message="tns:ITermsConditionService_AcceptTC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITermsConditionService/AcceptTCResponse" message="tns:ITermsConditionService_AcceptTC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITermsConditionService/AcceptTCReturnResultFault" name="ReturnResultFault" message="tns:ITermsConditionService_AcceptTC_ReturnResultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITermsConditionService" type="tns:ITermsConditionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestTC">
      <soap:operation soapAction="http://tempuri.org/ITermsConditionService/GetLatestTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTC">
      <soap:operation soapAction="http://tempuri.org/ITermsConditionService/AddOrUpdateTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcceptTC">
      <soap:operation soapAction="http://tempuri.org/ITermsConditionService/AcceptTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReturnResultFault">
        <soap:fault use="literal" name="ReturnResultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TermsConditionService">
    <wsdl:port name="BasicHttpBinding_ITermsConditionService" binding="tns:BasicHttpBinding_ITermsConditionService">
      <soap:address location="http://localhost:8011/TermsConditionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>