CF.VRent.Entities/Service References/TermsConditionService/TermsConditionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity.Aggregation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity.Aggregation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" />
  <xs:import schemaLocation="http://localhost:8011/TermsConditionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" />
  <xs:complexType name="DBEntityAggregationOfTermsConditionDBConditionObject_Pz_SRG2BH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DBEntityAggregationOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity.Aggregation" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TermsCondition" Namespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" />
          <GenericParameter Name="DBConditionObject" Namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities.DBEntity" minOccurs="0" name="Condition" nillable="true" type="q1:DBConditionObject" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" minOccurs="0" name="Entities" nillable="true" type="q2:ArrayOfTermsCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBEntityAggregationOfTermsConditionDBConditionObject_Pz_SRG2BH" nillable="true" type="tns:DBEntityAggregationOfTermsConditionDBConditionObject_Pz_SRG2BH" />
</xs:schema>