CF.VRent.Entities/Service References/FapiaoPreferenceProxy/FapiaoPreferenceService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.DataAccessProxy.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/FapiaoPreferenceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProxyFapiaoPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyFapiaoPreference" nillable="true" type="tns:ProxyFapiaoPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyFapiaoPreference" nillable="true" type="tns:ArrayOfProxyFapiaoPreference" />
  <xs:complexType name="ProxyFapiaoPreference">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddresseeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FapiaoType" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyFapiaoPreference" nillable="true" type="tns:ProxyFapiaoPreference" />
</xs:schema>