CF.VRent.Entities/Service References/BigFileService/BigFileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.Email" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.Email" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmailAttachmentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAttachmentEntity" nillable="true" type="tns:EmailAttachmentEntity" />
</xs:schema>