CF.VRent.Entities/Service References/BigFileService/BigFileService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/BigFileService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8011/BigFileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Email" />
  <xs:import schemaLocation="http://localhost:8011/BigFileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CF.VRent.Email.EmailSender.Entity" />
  <xs:import schemaLocation="http://localhost:8011/BigFileService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="EmailProxyParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CF.VRent.Email" name="Attachment" nillable="true" type="q2:EmailAttachmentEntity" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CF.VRent.Email.EmailSender.Entity" name="ContentParameter" nillable="true" type="q3:EmailParameterEntity" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="EmailAddresses" nillable="true" type="q4:ArrayOfstring" />
  <xs:element name="EmailType" nillable="true" type="xs:string" />
  <xs:element name="GroupType" nillable="true" type="xs:string" />
</xs:schema>