CF.VRent.Entities/Service References/DataAccessProxy/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CF.VRent.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/DataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8011/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReturnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackFrameMethod" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StackTrace" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Success" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:ResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnResult" nillable="true" type="tns:ReturnResult" />
  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OTHER" />
      <xs:enumeration value="KEMAS" />
      <xs:enumeration value="VRENT" />
      <xs:enumeration value="UNIONPAY" />
      <xs:enumeration value="VRENTFE" />
      <xs:enumeration value="DATAACCESSProxy" />
      <xs:enumeration value="DataSync" />
      <xs:enumeration value="Pricing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultType" nillable="true" type="tns:ResultType" />
  <xs:simpleType name="VRentDataDictionay.GLItemDetailType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IndirectFee">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RentalFee">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DebitNote">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VRentDataDictionay.GLItemDetailType" nillable="true" type="tns:VRentDataDictionay.GLItemDetailType" />
  <xs:simpleType name="VRentDataDictionay.GLHeaderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DUB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CCB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VRentDataDictionay.GLHeaderType" nillable="true" type="tns:VRentDataDictionay.GLHeaderType" />
  <xs:simpleType name="VRentDataDictionay.GLItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Credit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VRentDataDictionay.GLItemType" nillable="true" type="tns:VRentDataDictionay.GLItemType" />
</xs:schema>